/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.env.swo
.env.swp
error_log
.env-production
tmp/laravel.log
.user.ini
php.ini
storage/*
public/fonts/
public/css
public/js

.vscode/

google148ecab7d47480d6.html

public/app.js
public/sitemap.xml
public/tmp/

packs/
