@charset "UTF-8";

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/IRANSansWeb_Bold.eot?47c7f9c48f3d93d5daa15b4eaef5f318);
  src: url(/fonts/IRANSansWeb_Bold.eot?47c7f9c48f3d93d5daa15b4eaef5f318) format("embedded-opentype"), url(/fonts/IRANSansWeb_Bold.woff2?68c32494a74fd9f555ce87f0df593e82) format("woff2"), url(/fonts/IRANSansWeb_Bold.woff?748f32d92cf483f2eb5b46ca95fc4e40) format("woff"), url(/fonts/IRANSansWeb_Bold.ttf?7a8ce4ce3830de1cad8102c5f6184fa9) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IRANSansWeb_Medium.eot?f668b5fa32a33b0a58d3ca61aea3aac2);
  src: url(/fonts/IRANSansWeb_Medium.eot?f668b5fa32a33b0a58d3ca61aea3aac2) format("embedded-opentype"), url(/fonts/IRANSansWeb_Medium.woff2?ff353ba2acf2523dd782f942ab85e558) format("woff2"), url(/fonts/IRANSansWeb_Medium.woff?7e5c1289975b413a1f109bc490d7508c) format("woff"), url(/fonts/IRANSansWeb_Medium.ttf?e7ef286ad1a9ecdc146bcfe51416ee6e) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/IRANSansWeb_Light.eot?0b44836d8724174b5011002b718d485c);
  src: url(/fonts/IRANSansWeb_Light.eot?0b44836d8724174b5011002b718d485c) format("embedded-opentype"), url(/fonts/IRANSansWeb_Light.woff2?3ed3f94e5f485aef5592b69517774655) format("woff2"), url(/fonts/IRANSansWeb_Light.woff?1c7f779da0c3e054b7494cd74558f520) format("woff"), url(/fonts/IRANSansWeb_Light.ttf?29002bf5cccc9043dd777970f6241bfe) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/IRANSansWeb.eot?b3107e85ab4cd06b379624baa2ad56d1);
  src: url(/fonts/IRANSansWeb.eot?b3107e85ab4cd06b379624baa2ad56d1) format("embedded-opentype"), url(/fonts/IRANSansWeb.woff2?cdf8f7e0b08b36a145ba0e0312234567) format("woff2"), url(/fonts/IRANSansWeb.woff?21996b67bae94dde1afea1865865f8ce) format("woff"), url(/fonts/IRANSansWeb.ttf?a83daff6a3fcaf7cf89f771c940e401f) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/IRANSansWeb(FaNum)_Bold.eot?67d2920ac1e0164c957e884da0b1fc2b");
  src: url("/fonts/IRANSansWeb(FaNum)_Bold.eot?67d2920ac1e0164c957e884da0b1fc2b") format("embedded-opentype"), url("/fonts/IRANSansWeb(FaNum)_Bold.woff2?9da91f27a193f46c71f1cb913e31524f") format("woff2"), url("/fonts/IRANSansWeb(FaNum)_Bold.woff?a6c7f37a03e19d237de343688a10330f") format("woff"), url("/fonts/IRANSansWeb(FaNum)_Bold.ttf?3c04bd57fa8240b0ec575d8c1ff80dbb") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/IRANSansWeb(FaNum).eot?4f3cd08001a912553842788147e162c2");
  src: url("/fonts/IRANSansWeb(FaNum).eot?4f3cd08001a912553842788147e162c2") format("embedded-opentype"), url("/fonts/IRANSansWeb(FaNum)_Medium.woff2?9fb0429b7eec4838f2d6ca3b70b562ab") format("woff2"), url("/fonts/IRANSansWeb(FaNum)_Medium.woff?7698268f336a35d87bbf591a0fe5f41d") format("woff"), url("/fonts/IRANSansWeb(FaNum)_Medium.ttf?2ae855f1c7b7756f2aba76f0915b20b8") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANSansWeb(FaNum).eot?4f3cd08001a912553842788147e162c2");
  src: url("/fonts/IRANSansWeb(FaNum).eot?4f3cd08001a912553842788147e162c2") format("embedded-opentype"), url("/fonts/IRANSansWeb(FaNum).woff2?d459a9d482f942fb8891fe75c9a7dca3") format("woff2"), url("/fonts/IRANSansWeb(FaNum).woff?ba2fd9dab30cd8771aa3b53aa6b036e3") format("woff"), url("/fonts/IRANSansWeb(FaNum).ttf?71617be58eaec728ca3b9d4d5da8b11d") format("truetype");
}

/* general */

body {
  font-family: IRANSans, "Times New Roman", Times, serif;
  background-color: #f9fbff;
  text-align: right;
  color: #424242;
  direction: rtl;
}

p {
  color: #424242;
}

/* FONT */

/* NECESSARY */

body > div {
  overflow: visible;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  vertical-align: middle;
}

/* ========
    MD Styles
======= */

button {
  text-decoration: none !important;
}

.wizard .logo-main {
  height: 50px;
}

.wizard .wizard-card {
  padding: 30px;
  width: 100%;
}

.wizard .row {
  margin-bottom: 27px;
}

.wizard .form-content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.wizard .form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24.5px;
  line-height: 29px;
  color: #000000;
}

.wizard .form-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #A5ACC1;
  width: 55%;
  margin-bottom: 30px;
}

.wizard .form-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.wizard .step-indicator {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.wizard .indicator-line {
  border: 5px solid #EBF1FA;
  border-radius: 5px;
  box-sizing: border-box;
  width: 520px;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  direction: ltr;
}

.wizard .indicator-line .text-center {
  position: absolute;
  top: -11px;
  width: 105%;
  display: flex;
  justify-content: space-between;
}

.wizard .indicator-line .steps {
  border-radius: 50%;
  float: left;
  border: 5px solid #EBF1FA;
  padding: 0px 5px;
  height: 24px;
  width: 24px;
  background: #EBF1FA;
}

.wizard .indicator-line .steps.active {
  border: 5px solid #fba47b;
  background: #ffffff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.wizard .indicator-line .steps.completed {
  padding: 0px;
  background: #fba47b;
  border: 5px solid #fba47b;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizard .indicator-line .steps.completed .icon-check {
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  /* line-height: 21px; */
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wizard .upload-logo {
  position: absolute;
  right: 60px;
}

.wizard .upload-logo .preview-logo {
  height: 50px;
  max-width: 300px;
  padding: 10px;
  border: 4px solid #EBF1FA;
}

.wizard .list-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  border: 1px solid #EBF1FA;
}

.wizard .list-items .left-item,
.wizard .list-items .right-item {
  padding: 12px 10px;
  margin-bottom: 0;
}

.wizard .list-items .right-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizard .verified,
.wizard .not-verified {
  height: 15px;
  width: 15px;
  background-color: #00C99C;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
}

.wizard .not-verified {
  background-color: #FB7178;
}

.dropdown-menu {
  text-align: right;
}

.header-site #profile-box button {
  bottom: 5px;
  background-color: transparent;
  border: none;
}

.header-site #profile-box button:after {
  content: "";
}

.header-site #profile-box button .b-avatar {
  width: 2.3rem;
  height: 2.3rem;
}

.vertical-middle {
  vertical-align: middle !important;
}

.btn-backlink {
  position: absolute;
  left: 3%;
  top: 2em;
}

.btn-backlink:hover {
  text-decoration: none;
}

.btn-backlink:focus {
  box-shadow: none;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

label {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.wizard-step .list-contacts .list-contacts-item {
  overflow: hidden;
}

.wizard-step .list-contacts .list-contacts-item .btn-del-contact {
  position: absolute;
  transition: all 150ms linear;
  bottom: 0.3em;
  left: -3em;
}

.wizard-step .list-contacts .list-contacts-item:hover .btn-del-contact {
  transition: all 150ms linear 150ms;
  display: block;
  left: 1em;
}

.wizard-step .list-contacts .list-contacts-item .list-item-content .content-value {
  display: inline-block;
  vertical-align: middle;
}

.wizard-step .list-contacts .list-contacts-item .list-item-content svg {
  font-size: 24px;
}

.wizard-step .btn-add-contact {
  font-size: 24px !important;
}

.wizard-step .dropdown-contact-item a {
  padding: 1rem 2rem;
  text-align: right;
}

.wizard-step .icon-upload-label {
  display: block;
  text-align: center;
  padding: 50px;
  font-size: 26px;
}

.wizard-step .picture-upload-input label.custom-file-label {
  display: none;
}

.wizard-step form > .btn {
  min-width: 100px;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  overflow: hidden;
  margin-top: 4em;
}

.wizard-step input,
.wizard-step select,
.wizard-step .form-control,
.wizard-step label {
  box-shadow: none;
}

.wizard-step input:hover,
.wizard-step input:focus,
.wizard-step select:hover,
.wizard-step select:focus,
.wizard-step .form-control:hover,
.wizard-step .form-control:focus,
.wizard-step label:hover,
.wizard-step label:focus {
  box-shadow: none !important;
}

.wizard-step .form-control,
.wizard-step select {
  height: calc(2.5em + 0.75rem + 2px);
}

.wizard-step .ad-description-form .form-control {
  height: calc(8.5em + 0.75rem + 2px);
}

.wizard-step .form-control,
.wizard-step select,
.wizard-step label.icon-upload-label {
  background-color: #f0f0f0;
  color: #495057;
  border-radius: 3px;
  border: none;
}

.mobile-radio-form-group label {
  background-color: #f0f0f0;
  color: #333;
  padding: 16px 18px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-mobilesale {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 2em;
  padding: 16px;
}

.btn-rounded-high {
  border-radius: 50px;
}

.input-phone-number {
  width: 45%;
}

.input-phone-code {
  width: 12%;
  position: relative;
  left: 1em;
}

.logo img {
  width: 80px;
}

.vector img {
  width: 400px;
}

.vector .sale-vector {
  margin-top: 3em;
}

.section {
  margin-top: 2em;
}

.bg-light-silver {
  background-color: #f5f6fa;
}

.border-light-silver {
  border-color: #f5f6fa;
}

.blob-0 {
  background: transparent url(/images/sale.jpg?b7d9595abf5064c4dd962e5ecd5ba633) no-repeat -6em 8em;
  background-size: 300px;
  overflow: visible;
}

.home-bg {
  background: transparent url(/images/body-ellipse-1-min.png?966ea7e0716ea29c32f0e8453f8e64b1) no-repeat left 15em;
  background-size: 10em;
}

.home-bg::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background: transparent url(/images/header-frame-min.png?e5eef5d0a75284c170d24f5cdfa33adc) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 16em;
  right: 0;
}

.section.login-form-section {
  margin-top: 2em;
}

.section.login-form-section .login-form {
  margin-top: 25%;
}

.section.login-form-section .phone_number input,
.section.login-form-section .btn-login-submit {
  height: 55px;
  padding: 0 15px;
}

.section.login-form-section .phone_number input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.section.login-form-section .btn-login-submit {
  position: relative;
  left: -7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.section.login-form-section .btn-login-submit:focus {
  box-shadow: none;
}

.section.about-us {
  margin-top: 8em;
}

.form-confirmation {
  direction: ltr;
}

.form-confirmation .inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
  margin-top: 45px;
  text-align: center;
}

.form-confirmation .inputs > * {
  border: none;
  border-bottom: 2px solid #5f5f5f;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
}

.form-confirmation .inputs > *:focus {
  outline: none;
  border: none;
  border-bottom: 2px dotted #71be34;
}

.form-confirmation input[type=submit] {
  background: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  border: 0;
  width: 100%;
  text-align: center;
}

.form-confirmation input[type=submit]:focus,
.form-confirmation input[type=submit]:hover {
  background-color: #71be34;
  transition: background-color 350ms;
}

.intro-wrapper {
  background: transparent url(/images/bg.svg?a7ba8fcfb1f735a0bb3e6146cb42d1a3) no-repeat center center;
}

.actions-navbar {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #f1f2f3;
  border-radius: 30px;
  overflow: hidden;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.actions-navbar .btn {
  padding: 18px 64px;
  border: none;
  border-radius: 0;
  transition: all 350ms linear;
}

.actions-navbar .btn .label {
  visibility: hidden;
  display: inline-block;
  transition: all 150ms linear;
  opacity: 0;
  position: absolute;
}

.actions-navbar .btn:hover {
  opacity: 0.8;
}

.actions-navbar .btn:hover .label {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.actions-navbar .btn-save {
  background-color: mediumseagreen;
}

.actions-navbar .btn-save:hover,
.actions-navbar .btn-save:active,
.actions-navbar .btn-save:focus {
  background-color: mediumseagreen !important;
}

.actions-navbar .btn-delete {
  background-color: #f43f5e;
}

.actions-navbar .btn-delete:hover,
.actions-navbar .btn-delete:active,
.actions-navbar .btn-delete:focus {
  background-color: #f43f5e !important;
}

.actions-navbar .btn-back {
  background-color: #f0f0f0;
  color: #424242;
}

.actions-navbar .btn-back:hover,
.actions-navbar .btn-back:active,
.actions-navbar .btn-back:focus {
  background-color: #f0f0f0 !important;
}

.actions-navbar .btn-archive {
  background-color: #727272;
}

.actions-navbar .btn-archive:hover,
.actions-navbar .btn-archive:active,
.actions-navbar .btn-archive:focus {
  background-color: #727272 !important;
}

/* ================
 Ads
 ================ */

.model-item a {
  display: inline-block;
  border: 1px solid #eee;
  text-align: center;
  margin: 15px;
  padding: 12px 16px;
  border-radius: 3px;
}

.model-item a:hover {
  text-decoration: none;
  transition: border-color 350ms;
  border-color: #a5a5a5;
}

.model-item img {
  width: 100px;
  max-width: 100%;
}

.model-item .model-label {
  color: #333;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  font-weight: 550 !important;
  margin-top: 8px;
}

.model-item .model-label:hover {
  border: none !important;
}

.brand-item {
  text-align: center;
}

.brand-item a {
  display: inline-block;
  border: 1px solid #eee;
  padding: 14px;
  border-radius: 8px;
  margin: 10px 0;
}

.brand-item a:hover {
  transition: border-color 350ms;
  border-color: #a5a5a5;
  text-decoration: none;
}

.brand-item img {
  width: 100px;
  max-width: 100%;
}

.brand-item .brand-label {
  color: #333;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 300;
  font-weight: 550 !important;
  margin-top: 8px;
}

.brand-item .brand-label:hover {
  border: none !important;
}

/* =====
    End MD styles
====== */

.active-progress {
  -webkit-animation: picture_progress 4s ease-in;
          animation: picture_progress 4s ease-in;
}

@-webkit-keyframes picture_progress {
  from {
    width: 20% !important;
  }

  to {
    width: 100% !important;
  }
}

@keyframes picture_progress {
  from {
    width: 20% !important;
  }

  to {
    width: 100% !important;
  }
}

.browse-pictures-form .upload-previews .preview-item {
  padding: 1em;
  cursor: pointer;
}

.browse-pictures-form .upload-previews .preview-item img {
  box-shadow: 2px 2px 9px 0px;
  transition: all 500ms;
}

.browse-pictures-form .upload-previews .preview-item:hover img {
  transition: all 500ms;
  opacity: 0.7;
}

.browse-pictures-form .upload-previews .actions {
  position: absolute;
  top: 0;
}

.browse-pictures-form .upload-previews .actions .btn-delete {
  box-shadow: none;
  outline: none;
  position: absolute;
  top: -24px;
  cursor: -webkit-grab;
  cursor: grab;
  background: transparent;
  color: #ff623d;
  border: none;
  right: -6px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}

.browse-pictures-form .upload-previews .actions .btn-delete svg {
  background-color: #424242;
  vertical-align: middle;
  border-radius: 50%;
}

.browse-pictures-form .upload-previews .actions .btn-delete:hover {
  color: #f9fbff;
}

.browse-pictures-form .upload-previews .actions .btn-delete:ative,
.browse-pictures-form .upload-previews .actions .btn-delete:focus {
  box-shadow: none;
}

.browse-pictures-form .custom-file-label::after {
  content: "";
  display: none;
}

.upload-previews .preview-item {
  padding: 10px;
}

.upload-previews img {
  max-width: 100%;
}

.form-control {
  outline: none;
  box-shadow: none;
}

.btn {
  box-shadow: none;
}

.mini-container {
  width: 900px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.input-group {
  flex-direction: column;
}

/* NECESSARY */

/* HEADER */

.header-site .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-site .burger-btn {
  background: 0;
  border: 0;
  outline: 0;
}

.header-site .burger-btn .rec {
  display: block;
  width: 25px;
  height: 4px;
  background: #424242;
  margin-bottom: 7px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.width18 {
  width: 18px !important;
}

.header-site .logo {
  display: inline-block;
  margin-right: 24px;
}

.header-site .add-advertisment {
  width: auto;
  display: inline-block;
  background-color: #424242;
  color: #ffffff;
  border-radius: 20px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.header-site .add-advertisment:hover {
  color: #ffffff !important;
}

.header-site .main-menu {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  max-width: 70%;
  background-color: #ffffff;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.05);
  transition: 0.3s all;
  z-index: 12;
  border-radius: 30px 0 0 30px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}

.header-site .main-menu.navActive {
  right: 0;
}

.header-site .main-menu ul {
  text-align: right;
  margin-right: 24px;
}

.header-site .main-menu ul li {
  margin-top: 16px;
  display: block;
}

.header-site .main-menu ul li a {
  color: #b3b3b3;
  font-size: 20px;
}

.header-site .main-menu ul li a:hover {
  text-decoration: none;
}

.header-site .dark-back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.dark-back.active {
  opacity: 1;
  visibility: visible;
}

/* HEADER */

/* MAIN */

.main-size {
  overflow: visible;
}

.main-site .about-us-section {
  padding: 120px 0;
}

.about-us-section .about-us {
  display: block;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  font-size: 17px;
}

.searc-bar-section {
  padding: 0 120px;
}

.search-bar-section .search-bar {
  text-align: center;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 40px;
  padding: 8px 24px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.search-bar-section .search-bar input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.search-bar .icon {
  display: inline-block;
  width: 140px;
  height: 70%;
  background-color: transparent;
  border: 0;
  opacity: 0.2;
  border-right: 1px solid black;
  outline: 0;
}

.search-bar .icon img {
  max-width: 100%;
  height: auto;
  width: 45px;
}

.ads-section {
  padding: 120px 0;
}

.main-title {
  margin-bottom: 40px;
}

.ad .inner {
  padding: 12px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 450px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.ad .inner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  opacity: 0.2;
}

.ad .inner .ad-img > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
}

.ad .inner .bookmark {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.ad .inner .bookmark > i {
  color: #ffffff;
  font-size: 20px;
}

.ad .inner .bookmark > i:hover {
  font-weight: 600;
}

.ad .inner .ad-content {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 18px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.ad .inner .ad-content .ad-name {
  text-align: right;
  flex: 0 0 50%;
  color: #ffffff;
}

.ad .inner .ad-content .ad-price {
  flex: 0 0 50%;
  color: #ffffff;
  text-align: left;
}

.subscribe-section {
  padding: 120px 0;
}

.subscribe .inner {
  border-radius: 24px;
  background-color: #ffffff;
  transition: 0.2s all;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.subscribe .inner .level {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 24px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
}

.blue {
  background-color: #6e2afd;
}

.pink {
  background-color: #fc01a6;
}

.dark-blue {
  background-color: #6b29f9;
}

.subscribe .inner .infos {
  text-align: center;
}

.subscribe .inner .infos .sub-price {
  font-size: 10px;
  margin-bottom: 8px;
  color: #b3b3b3;
}

.subscribe .inner .infos .sub-price span {
  font-size: 64px;
  color: #424242;
}

.subscribe .inner .infos .des {
  margin-bottom: 8px;
  font-size: 14px;
  color: #b3b3b3;
}

.height250 {
  height: 250px !important;
}

.normal-ad-holder .inner .ad-content {
  height: 60px;
}

.normal-ad-holder .inner .ad-name {
  font-size: 13px;
}

.normal-ad-holder .inner .ad-price {
  font-size: 12px;
}

/* MAIN */

/* SINGLE */

.single-product {
  padding: 120px 0;
}

.single-product .gallery {
  height: 100%;
  display: block;
}

.single-product .main-gallery-item {
  width: 450px;
  height: 450px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  border-radius: 24px;
}

.single-product .main-gallery-item img {
  width: 100%;
}

.single-product .gallery-items .gallery-item {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 24px;
  margin-bottom: 12px;
}

.single-product .gallery-items .gallery-item img {
  max-height: 100%;
  width: 100%;
}

.main-des {
  margin: 0 16px;
}

.main-des .main-title h3 {
  font-size: 14px;
  color: #424242;
}

.home-title {
  text-align: center;
}

.home-title .sub-title {
  font-size: 18px;
  margin-top: 1em;
}

.main-des .title {
  margin: 20px 0;
}

.main-des ul li {
  margin: 8px 0;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
}

.main-des ul li > span {
  font-size: 13px;
  color: #424242;
}

.main-des ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #b3b3b3;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 50%;
}

.price {
  margin: 0 24px;
}

.btn-call {
  margin: 36px 24px;
  padding: 8px 16px !important;
  background-image: linear-gradient(to right, #bac964, #438a5e);
  border: 0 !important;
  color: #ffffff !important;
}

.realated-postes {
  padding: 0 0 120px 0;
}

/* SINGLE */

/* BLOG */

.blog-lists {
  padding: 120px 0;
}

.page-title-container {
  padding: 45px 0;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to right, #78f2e9, #b65eba);
  color: #ffffff;
}

.page-title {
  font-size: 32px;
  margin-bottom: 0;
}

.blog .inner {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 30px;
}

.blog .inner .thumbnail {
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.blog .inner .details {
  padding: 16px;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  margin-top: -24px;
  position: relative;
  z-index: 1;
  min-height: 220px;
}

.blog .inner .details .title h2 {
  color: #424242;
  text-decoration: none;
  font-size: 20px;
}

.blog .inner .details p {
  color: #b3b3b3;
  margin-bottom: 0;
  text-align: justify;
  line-height: 2;
  font-size: 14px;
}

/* BLOG */

/*Payment*/

.payment-section {
  padding: 300px 0;
}

.payment-section .payment-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  min-width: 400px;
  max-width: 100%;
  min-height: 120px;
  padding: 24px;
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
}

.payment-section .payment-inner .infos {
  text-align: center;
}

.payment-section .payment-inner .infos .icon {
  width: 50px;
  height: 50px;
  border: 1.5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 16px auto;
}

.payment-section .payment-inner .infos .icon i {
  font-size: 20px;
}

.payment-section .payment-inner .infos .title {
  font-size: 20px;
  font-weight: bold;
  color: #424242;
  margin: 16px auto;
}

.payment-section .payment-inner .infos .message {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 16px;
  color: #424242;
  margin: 16px auto;
}

.green-golor {
  color: #71be34;
}

.green-background {
  background-color: #71be34 !important;
}

.light-green-background {
  background-color: #e3fdca;
}

.green-border-color {
  border-color: #71be34 !important;
}

.red-background {
  background-color: #ff623d !important;
}

.red-color {
  color: #ff623d;
}

.ligh-red-background {
  background-color: #fec1bc !important;
}

.red-border-color {
  border-color: #ff623d !important;
}

.yellow-background {
  background-color: #ffb703 !important;
}

.yellow-color {
  color: #ffb703;
}

.ligh-yellow-background {
  background-color: #fff6e7;
}

.yellow-border-color {
  border-color: #ffb703 !important;
}

.pay-btn {
  color: #ffffff !important;
  padding: 8px 12px !important;
  border-radius: 20px !important;
  font-size: 14px !important;
}

/*Payment*/

/*Single*/

.post-holder {
  padding: 80px 0;
}

.single-post .heading {
  margin-bottom: 16px;
}

.single-post .heading h1 {
  font-size: 1.5rem;
  color: #424242;
}

.single-post .post-inner {
  width: 100%;
}

.single-post .post-inner .publish-time {
  color: #b3b3b3;
  margin-bottom: 16px;
}

.specs .infos-phone .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 16px;
  position: relative;
  min-height: 54px;
}

.specs .infos-phone .inner:last-child {
  margin-bottom: 30px;
}

.post-inner .des p {
  font-size: 16px;
  line-height: 32px;
  color: #727272;
}

.gallery-post .main-gallery-bg {
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: hidden;
}

.short-links {
  border: 1px solid #727272;
  margin-top: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.clip-board {
  border: 0;
  background: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.actions .call {
  width: 47%;
  text-align: center;
}

.actions .call .call-btn {
  color: #ffffff;
  background-color: #73b479;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
}

.actions .safe {
  width: 47%;
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 12px;
}

.height100 {
  height: 100px !important;
  width: 100px !important;
}

.gallery-thumbs {
  margin-top: 30px !important;
}

/*Single*/

/*SingleBlog*/

.single-blog-section {
  padding: 100px 0;
}

.single-blog-inner {
  max-width: 100%;
  width: 80%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.single-blog-inner .tumbnail {
  margin-bottom: 30px;
}

.single-blog-inner .tumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.single-blog-inner .heading {
  margin-bottom: 30px;
}

.single-blog-inner .heading h1 {
  margin: 0;
  font-weight: 300 !important;
  margin-bottom: 12px;
  font-size: 1.8rem;
  color: #424242;
}

.single-blog-inner .meta-box {
  margin-bottom: 30px;
}

.meta-box lable {
  padding-left: 16px !important;
}

.meta-box .share-box ul {
  display: inline-block;
}

.meta-box .share-box ul li {
  display: inline-block;
  padding-left: 16px;
}

.meta-box .share-box ul li:first-child {
  padding-right: 16px;
}

.meta-box .share-box ul li i {
  color: #b3b3b3;
  font-size: 20px;
}

.single-blog-inner .content p {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
  color: #727272;
  margin-bottom: 30px;
}

.single-blog-inner .content h2 {
  font-size: 20px;
  color: #424242;
}

.single-blog-inner .content h3 {
  font-size: 15px;
  color: #424242;
}

.single-blog-inner .content h4 {
  font-size: 12px;
  color: #424242;
}

.single-blog-inner .content h5 {
  font-size: 10px;
  color: #424242;
}

.single-blog-inner .content h6 {
  font-size: 5px;
  color: #424242;
}

.single-blog-inner .content ul {
  padding-right: 36px;
}

.single-blog-inner .content ul li {
  list-style: initial;
  color: #727272;
  font-size: 14px;
}

.single-blog-inner .content blockquote {
  font-size: 14px;
  color: #727272;
}

.single-blog-inner .content blockquote:before {
  content: "\F10E";
  font-family: "FontAwesome";
  font-size: 8px;
  padding-left: 4px;
  color: #727272;
}

.single-blog-inner .content blockquote::after {
  content: "\F10D";
  font-family: "FontAwesome";
  font-size: 8px;
  padding-right: 4px;
  color: #727272;
}

.comments {
  margin-top: 56px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 100%;
}

.comments #reply-title {
  font-size: 20px;
}

.comments form {
  line-height: 2;
  font-size: 14px;
}

.comments .textarea-input {
  border: solid 1px rgba(0, 0, 0, 0.12);
  padding: 0 5px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 30px;
}

.comments .textarea-input textarea {
  border: 0;
  width: 100%;
  margin-top: 8px;
  outline: 0;
  min-height: 200px;
}

.comments form .input {
  border: solid 1px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  padding: 0 8px;
  margin-bottom: 30px;
  border-radius: 8px;
  position: relative;
}

.comments form input[type=text],
.comments form input[type=email] {
  width: 100%;
  line-height: 36px;
  border: 0;
  outline: 0;
}

.comments .form-submit {
  color: #4a4a4a;
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 40px;
}

.btn:not([disabled]):not(.disabled) {
  cursor: pointer;
}

.comments-list {
  margin-right: 0.5rem !important;
  position: relative;
  width: 100%;
  margin-top: 32px;
  display: block;
}

.comments-list li.comment {
  border-radius: 4px;
  background-color: #ffffff;
  list-style: none;
  margin-bottom: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
}

.comments-list li.comment .inner {
  padding: 16px;
}

.comments-list li.comment .inner .header {
  margin-bottom: 16px;
}

.comments-list li.comment .inner .header .author {
  font-size: 14px;
}

.comments-list li.comment .inner .header .time-ago {
  font-size: 13px;
}

.comments-list li.comment .inner .context {
  color: #5d4037;
  font-size: 12px;
  margin: 0;
  line-height: 2;
}

.comments-list li.comment .inner .context > p {
  margin-bottom: 0;
}

.single-post-type-holder ul {
  list-style: circle;
  margin-bottom: 40px;
}

.comments ul.children {
  padding-right: 32px;
}

.comments ul.children li {
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.01);
}

/*Login*/

.header-dashboard {
  height: 400px;
  background-color: #fb7ba2;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
}

.login-inner .infos {
  text-align: right !important;
}

/*Login*/

/*SingleBlog*/

/*Tutorial*/

.tutorial-section {
  padding: 110px 0;
}

.tutorial {
  position: relative;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 20px;
  padding: 24px;
  width: 100%;
  margin: 30px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.tutorial .title {
  position: relative;
}

.tutorial .title::after {
  content: "\F053";
  font-family: "FontAwesome";
  position: absolute;
  left: 40px;
  top: 10%;
  font-size: 20px;
  color: #727272;
}

.tutorial .title h2 {
  font-size: 24px;
  color: #424242;
}

.tutorial .icon {
  display: inline-block;
}

.tutorial .content {
  font-size: 16px;
  color: #ffffff;
  line-height: 0px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.tutorial .content.active {
  line-height: 25px !important;
  color: #727272 !important;
}

/*Tutorial*/

/*Mvp*/

.title-section {
  padding: 30px 0 0 0;
}

.title-section .title {
  text-align: center;
}

.title-section .title h1 {
  color: #424242;
}

.about-us-mvp-section {
  padding: 120px 0;
  content: "";
  background: linear-gradient(white, rgba(255, 255, 255, 0.75), white), url(https://technicalseo.com/assets/vectors.png) bottom center scroll;
  background-size: cover;
  position: relative;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.about-us-mvp-section .about-us p {
  color: #727272;
}

.get-start-section .form {
  text-align: center;
}

.get-start-section .form input {
  display: block;
  background-color: #f5f6fa;
  margin: 0 auto;
  border: 0;
  outline: 0;
  width: 250px;
  padding: 25px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.get-start-section .form .btn-get {
  display: block;
  width: 250px;
  color: #ffffff;
  background-color: #424242;
  margin: 30px auto;
  padding: 16px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/*Mvp*/

/*Dashboard*/

.user-panel-section {
  padding: 150px 0;
}

.sidebar {
  width: 100%;
}

.sidebar .tabs {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.sidebar .tabs .tab-profile {
  display: flex;
  align-items: center;
  padding: 20px 14px;
}

.sidebar .tabs .tab-profile .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #424242;
}

.sidebar .tabs .tab-profile .avatar img {
  width: 100%;
}

.sidebar .tabs .tab-profile .username {
  display: inline-block;
  margin-right: 12px;
}

.sidebar .tabs .tab-item {
  display: flex;
  align-items: center;
}

.sidebar .tabs .tab-item .tab-item-content {
  width: 100%;
  padding-right: 24px;
  display: flex;
  align-items: center;
}

.sidebar .tabs .tab-item.active {
  background-color: #f5f6fa;
  border-right: 2px solid #424242;
}

.sidebar .tabs .tab-item .tab-item-content a {
  padding: 20px;
  width: 100%;
  color: #424242;
  padding-right: 0;
  text-decoration: none;
}

.adver .inner .details {
  min-height: 110px;
}

.adver .inner .details .title {
  margin-bottom: 16px;
}

.adver .inner .details .status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: #ffffff;
}

.adver .accept-back {
  background-color: #6ab070;
}

.adver .queue-back {
  background-color: #fccb0f;
}

/*Sidebar*/

/*Home Redesign*/

.normal-ads .inner {
  color: #b3b3b3;
}

.normal-ads .inner .tumbnail {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.normal-ads .inner .tumbnail img {
  width: 100%;
}

.normal-ads .inner .details {
  padding: 45px 15px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  top: -25px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  font-size: 14px;
}

.normal-ads .inner .tumbnail .bookmark {
  position: absolute;
  top: 20px;
  left: 20px;
}

.normal-ads .inner .tumbnail .bookmark i {
  color: #ffffff;
  font-size: 20px;
}

.normal-ads .inner .tumbnail .bookmark i:hover {
  font-weight: 600;
}

/*Home Redesign*/

/* FOOTER */

.footer-site {
  margin-top: 32em;
}

.footer-site .social > a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  color: #424242;
  border-radius: 24px;
  font-size: 24px;
}

.footer-site .menu {
  text-align: center;
}

.footer-site .menu ul li {
  display: inline-block;
  padding: 0 12px;
  height: 36px;
  width: 100px;
}

.footer-site .menu ul li:hover {
  border-bottom: 2px solid #424242;
}

.footer-site .menu ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 15px;
  line-height: 22px;
  height: 20px;
}

/* FOOTER */

/*breadcrumb*/

.breadcrumb {
  background-color: #ffffff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.crumbs > a {
  font-size: 12px;
  color: #424242;
  text-decoration: none;
}

.crumbs > i {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.crumbs > span {
  font-size: 12px;
  color: #424242;
}

/*breadcrumb*/

/* Queries*/

@media (max-width: 768px) {
  .single-product .gallery-items .gallery-item {
    display: inline-block;
    margin-right: 16px;
  }

  .searc-bar-section {
    padding: initial;
  }

  .footer-site .menu {
    text-align: right;
  }

  .title-section .title h1 {
    font-size: 18px;
  }

  .about-us {
    font-size: 14px !important;
  }

  .about-us-mvp-section {
    padding: 40px 0 !important;
  }
}

.single-product .gallery-items .gallery-item {
  display: inline-block;
  margin-right: 16px;
}

.searc-bar-section {
  padding: initial;
}

.footer-site .menu {
  text-align: right;
}

.title-section .title h1 {
  font-size: 18px;
}

.single-product .gallery-items .gallery-item {
  display: inline-block;
  margin-right: 16px;
}

.searc-bar-section {
  padding: initial;
}

.footer-site .menu {
  text-align: right;
}

.title-section .title h1 {
  font-size: 18px;
}

.about-us {
  font-size: 14px !important;
}

.about-us-mvp-section {
  padding: 40px 0 !important;
}

/* Queries*/

